body {
    background-color: #a8dee7;
    box-sizing: content-box;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.content-box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

header {
    width: 400px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

main {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;

}

#output {
    width: 600px;
    height: 500px;
    text-align: center;
    display: flex;
    overflow-y: scroll;
}

#output::-webkit-scrollbar {
    display: none;
  }

.history {
    width: 190px;
    border-right: 1px solid black;
    margin-right: 10px; 
    display: inline;
    height: 100%;
}

#results {
    text-align: center;
    width: 400px;
}

.forecast {
    background-color: lavender;
    box-shadow: 0px 0px 5px lavender;
}

.day-row {
    display: flex;
    justify-content: space-around;
}

.icon-box {
    background-color: rgb(100, 117, 192);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.day-row .label {
    margin: 0px;
}

.day-row {
    margin: 5px auto;
}

#notif .error {
    background-color: firebrick;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

#notif .welcome {
    background-color: rgb(106, 209, 66);
    text-align: center;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 10px;
}

li {
    background-color: lavenderblush;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: background-color .3s;
    /* transition-delay: 1s; */
}

li:hover {
    background-color: rgb(197, 175, 182);
}

.weatherbox {
    border-radius: 10px;
    border: 1px solid black;
    width: 30%;
}

.conditionbox {
    background-color: lightblue;
}

.weatherbox h4 {
    margin: 10px;
}

.weatherbox div {
    display: flex;
    justify-content: center;
}